[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
gymnasium = "*"
stable-baselines3 = "*"
tqdm = "*"
rich = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
